<link rel="stylesheet" type="text/css" href="/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="/slick/slick-theme.css" />
<script src="/trade/js/jquery.fittext.js"></script>

<script>
  $(".menu").click(function () {
    $("nav").slideToggle();
  });
</script>
<script>
  $(function () {
    $("#tabs").tabs();
  });
</script>
<script src="/js/jquery-modal-video.min.js"></script>
<link rel="stylesheet" href="css/modal-video.min.css" />
<script>
  $(".js-video-button").modalVideo();
</script>

<style>
  .slick-dots {
    bottom: -10px !important;
  }

  .slick-dotted.slick-slider {
    margin-bottom: 0px;
  }
</style>

<div class="Modern-Slider row center">
  <!-- Item -->
  <div class="item">
    <div class="img-fill">
      <img src="/images/912465.jpg" alt="" />
      <div class="info-slick">
        <div>
          <h1 class="headering">
            <span class="text-default">SECURE</span> AND
            <span class="text-default">EASY WAY</span><br />TO BITCOIN MINING
          </h1>
          <a href="/register" class="btn">LEARN MORE</a>
        </div>
      </div>
    </div>
  </div>
  <!-- // Item -->
  <!-- Item -->
  <div class="item">
    <div class="img-fill">
      <img src="/images/913441.jpg" alt="" />
      <div class="info-slick">
        <div>
          <h1 class="headering">
            <span class="text-default">BITCOIN</span> INVESTMENT<br />YOU CAN
            <span class="text-default">TRUST</span>
          </h1>
          <a href="/start" class="btn">GET STARTED</a>
        </div>
      </div>
    </div>
  </div>
  <!-- // Item -->
</div>
<script>
  $(".headering").fitText(1.3, {
    minFontSize: 35,
  });
</script>
<div class="dark">
  <div class="bodycontainer" style="padding: 0 30px">
    <div
      class="row"
      style="
        background: #1d1d1d;
        top: -40px;
        position: relative;
        text-align: left;
      "
    >
      <div class="col-4">
        <div class="col-3 col-m-4 center">
          <img src="/images/download-bitcoin.png" />
        </div>
        <div class="col-9 col-m-8 center-sm">
          <h5 class="text-white">Open an account</h5>
          <p>
            To start enjoying our services and enjoying high and stable profits
            from investments and cloud mining first create an account on our
            platform.
          </p>
        </div>
      </div>
      <div class="col-4">
        <div class="col-3 col-m-4 center">
          <img src="/images/add-bitcoins.png" />
        </div>
        <div class="col-9 col-m-8 center-sm">
          <h5 class="text-white">Add Funds & Start Investment</h5>
          <p>Add bitcoins you’ve created or exchanged via credit card.</p>
        </div>
      </div>
      <div class="col-4">
        <div class="col-3 col-m-4 center">
          <img src="/images/buy-sell-bitcoins.png" />
        </div>
        <div class="col-9 col-m-8 center-sm">
          <h5 class="text-white">Withdraw Your Profit</h5>
          <p>Request for withdrawal and receive it within 1day.</p>
        </div>
      </div>
    </div>
    <div class="center">
      <h1 class="tlt text-white">ABOUT <span class="text-default">US</span></h1>
      <p class="sub_tlt">MOST FLEXIBLE CRYPTOCURRENCY INVESTMENT COMPANY</p>
    </div>

    <div class="row" style="margin-top: 20px">
      <div class="col-6 center">
        <img src="/images/about-us.png" />
      </div>
      <div class="col-6">
        <h2 class="text-white">WE ARE <%= res.locals.siteName%></h2>
        <p>
          <%= res.locals.siteName%> Company is a distinctive investment company
          offering our investors access to high-growth investment opportunities
          in Bitcoin markets and other services. We implement best practices of
          trading & mining of Bitcoins through our operations, while offering
          flexibility in our investment plans. Our company benefits from an
          extensive network of global clients.
        </p>
        <div id="tabs" style="margin-bottom: 20px">
          <ul>
            <li><a href="#tabs-1">OUR MISSION</a></li>
            <li><a href="#tabs-2">OUR ADVANTAGES</a></li>
            <li><a href="#tabs-3">OUR GUARANTEES</a></li>
          </ul>
          <div id="tabs-1">
            <p>
              Our aim is to utilize our expertise & knowledge which will benefit
              our clients and the users of our services.
            </p>
          </div>
          <div id="tabs-2">
            <p>
              Our mission as an official partner of Bitcoin Foundation is to
              help you enter and better understand the world of #1
              cryptocurrency and avoid any issues you may encounter.
            </p>
          </div>
          <div id="tabs-3">
            <p>
              We are here because we are passionate about open, transparent
              markets and aim to be a major driving force in widespread
              adoption, we are one the bests in cryptocurrency investment.
            </p>
          </div>
        </div>
        <a
          href="https://find-and-update.company-information.service.gov.uk/company/"
          class="btn default"
          target="_blank"
          >CHECK COMPANY CERTIFICATE</a
        >
      </div>
    </div>
  </div>
</div>

<div class="darkgrey">
  <div class="bodycontainer-left">
    <div class="row lineup">
      <div class="col-8 center">
        <div class="col-6 col-m-6">
          <div>
            <img src="/images/strong-security.png" style="height: 40px" />
          </div>
          <h5 class="text-white">STRONG SECURITY</h5>
          <p>Protection against DDoS attacks,<br />full data encryption</p>
        </div>
        <div class="col-6 col-m-6">
          <div>
            <img src="/images/world-coverage.png" style="height: 40px" />
          </div>
          <h5 class="text-white">WORLD COVERAGE</h5>
          <p>Providing services in 99% countries<br />around all the globe</p>
        </div>
        <div class="col-6 col-m-6">
          <div>
            <img src="/images/payment-options.png" style="height: 40px" />
          </div>
          <h5 class="text-white">PAYMENT OPTIONS</h5>
          <p>Popular methods: Bitcoin, Ethereum,<br />Skril</p>
        </div>
        <div class="col-6 col-m-6">
          <div>
            <img src="/images/mobile-app.png" style="height: 40px" />
          </div>
          <h5 class="text-white">MOBILE FRIENDLY</h5>
          <p>Our User Dashboard is Made<br />to match all Mobile resolution</p>
        </div>
        <div class="col-6 col-m-6">
          <div>
            <img src="/images/cost-efficiency.png" style="height: 40px" />
          </div>
          <h5 class="text-white">COST EFFICIENCY</h5>
          <p>Reasonable trading fees for traders<br />and all market makers</p>
        </div>
        <div class="col-6 col-m-6">
          <div>
            <img src="/images/high-liquidity.png" style="height: 40px" />
          </div>
          <h5 class="text-white">HIGH LIQUIDITY</h5>
          <p>
            Fast access to high liquidity orderbook<br />for top currency pairs
          </p>
        </div>
      </div>
      <div class="col-4 video-lightbox">
        <a
          href="#"
          class="play circle js-video-button"
          data-video-id="GmOzih6I1zs"
          ><i class="fa fa-play"></i
        ></a>
      </div>
    </div>
  </div>
</div>

<div class="dark" style="padding: 40px 20px 80px 20px" id="investment">
  <div class="bodycontainer center">
    <h1 class="tlt text-white">
      AFFORDABLE <span class="text-default">PACKAGES</span>
    </h1>
    <p class="sub_tlt">CHOOSE YOUR PREFERABLE PLAN FOR INVESTMENT.</p>
    <div class="row">
      <div class="col-4 col-m-12">
        <div class="pricing_header default">
          <h3 class="bold">BRONZE PLAN</h3>
          <h6 class="bold">1,000GHZ/S HASH RATE</h6>
        </div>
        <div class="pricing_body">
          <ul>
            <li>MINIMUM INVESTMENT: $500</li>
            <li>MAXIMUM INVESTMENT: $1,000</li>
            <li>R.I.O: 15%</li>
            <li>PERIOD: 23 DAYS</li>
            <li>UNLIMITED WITHDRAWALS</li>
            <li>REFERRAL BONUS: 7% + $2</li>
            <li>24/7 SUPPORT: YES</li>
          </ul>
        </div>
        <div class="pricing_footer">
          <a href="/register" class="btn default round-xxlarge">INVEST NOW</a>
        </div>
      </div>

      <!--YOU CAN CHANGE YOUR NEXT PLAN-->

      <div class="col-4 col-m-12">
        <div class="pricing_header default">
          <h3 class="bold">SLIVER PLAN</h3>
          <h6 class="bold">2,000GHZ/S HASH RATE</h6>
        </div>
        <div class="pricing_body">
          <ul>
            <li>MINIMUM INVESTMENT: $1,000</li>
            <li>MAXIMUM INVESTMENT: $5,000</li>
            <li>R.I.O: 25%</li>
            <li>PERIOD: 17 DAYS</li>
            <li>UNLIMITED WITHDRAWALS</li>
            <li>REFERRAL BONUS: 11% + $2</li>
            <li>24/7 SUPPORT: YES</li>
          </ul>
        </div>
        <div class="pricing_footer">
          <a href="/register" class="btn default round-xxlarge">INVEST NOW</a>
        </div>
      </div>

      <!--YOU CAN CHANGE YOUR NEXT PLAN-->

      <div class="col-4 col-m-12">
        <div class="pricing_header default">
          <h3 class="bold">GOLD PLAN</h3>
          <h6 class="bold">10,000GHZ/S SPEED RATE</h6>
        </div>
        <div class="pricing_body">
          <ul>
            <li>MINIMUM INVESTMENT: $5,000</li>
            <li>NO MAXIMUM INVESTMENT</li>
            <li>R.I.O: 40%</li>
            <li>PERIOD: 14 DAYS</li>
            <li>UNLIMITED WITHDRAWALS</li>
            <li>REFERRAL BONUS: 15% + $2</li>
            <li>24/7 SUPPORT: YES</li>
          </ul>
        </div>
        <div class="pricing_footer">
          <a href="/register" class="btn default round-xxlarge">INVEST NOW</a>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .irs-single,
  .irs-min,
  .irs-max {
    display: none !important;
  }

  .irs-bar {
    border-top: 1px solid #0af !important;
    border-bottom: 1px solid #0af !important;
    background: #0af !important;
  }

  .irs-bar-edge {
    border: 1px solid #0af !important;
    background: #0af !important;
    background: #0af !important;
  }

  .irs-slider {
    border: 3px solid #aaa !important;
    background: #0af !important;
  }
</style>
<link rel="stylesheet" href="css/ion.rangeSlider.css" />
<link rel="stylesheet" href="css/ion.rangeSlider.skinHTML5.css" />
<script src="/js/ion.rangeSlider.min.js"></script>
<script>
  var $range = $(".range_47");
  $range.ionRangeSlider();

  $range.on("change", function () {
    var $this = $(this),
      value = $this.prop("value");
    var output = $this.prop("value") * ($this.data("cent") / 100);
    $("#" + $this.data("id")).val("$ " + $this.prop("value"));
    $("#" + $this.data("per")).php("$ " + output.toFixed(1));
    $("#" + $this.data("total")).php(
      "$ " + (output * $this.data("times")).toFixed(1)
    );
    console.log("Value: " + value);
  });
</script>
<div
  class="calculator-container"
  style="position: relative; top: -50px; margin-bottom: -50px"
>
  <div class="bodycontainer center" style="padding: 0 20px">
    <form class="bitcoin-calculator round-large cards" id="bitcoin-calculator">
      <h1 class="tlt text-white">
        <span class="text-default">BITCOIN</span> CALCULATOR
      </h1>
      <p style="margin: 20px 0; font-size: 14px">
        FIND OUT THE CURRENT BITCOIN VALUE WITH OUR EASY-TO-USE CONVERTER
      </p>
      <div style="margin: 20px 0">
        <!-- Input #1 Starts -->
        <input class="form-input" name="btc-calculator-value" value="1" />
        <!-- Input #1 Ends -->
        <div class="form-info"><i class="fa fa-bitcoin"></i></div>
        <div class="form-equal">=</div>
        <!-- Input/Result Starts -->
        <input
          class="form-input form-input-result"
          name="btc-calculator-result"
        />
        <!-- Input/Result Ends -->
        <!-- Select Currency Starts -->
        <div class="form-wrap">
          <select
            id="currency-select"
            class="form-input select-currency select-primary select2-hidden-accessible"
            name="btc-calculator-currency"
            data-dropdown-class="select-primary-dropdown"
            tabindex="-1"
            aria-hidden="true"
          >
            <option value="0">USD</option>
            <option value="1">AUD</option>
            <option value="2">BRL</option>
            <option value="3">CAD</option>
            <option value="4">CHF</option>
            <option value="5">CLP</option>
            <option value="6">CNY</option>
            <option value="7">DKK</option>
            <option value="8">EUR</option>
            <option value="9">GBP</option>
            <option value="10">HKD</option>
            <option value="11">INR</option>
            <option value="12">ISK</option>
            <option value="13">JPY</option>
            <option value="14">KRW</option>
            <option value="15">NZD</option>
            <option value="16">PLN</option>
            <option value="17">RUB</option>
            <option value="18">SEK</option>
            <option value="19">SGD</option>
            <option value="20">THB</option>
            <option value="21">TWD</option>
          </select>
        </div>
        <!-- Select Currency Ends -->
      </div>
      <p><i>* Data updated every 15 minutes</i></p>
    </form>
  </div>
  <div class="bitcoin-calculator-bg"></div>
</div>
<style>
  .btcwdgt.btcwdgt-chart .btcwdgt-footer {
    display: none !important;
  }

  .btcwdgt-headlines.btcwdgt-clean {
    margin: 0 auto !important;
    border: 1px solid #333 !important;
    box-shadow: none !important;
    max-width: 615px !important;
    width: 100%;
  }
</style>
<div class="dark">
  <div class="row lineup">
    <div class="col-4 col-m-12 testimony-lightbox">
      <div class="bodycontainer center-mode" style="position: relative">
        <ul class="testimonials" style="padding: 40px 20px">
          <li>
            <div class="padding">
              <span class="comment">
                <p>
                  Thanks guys for such competence. its great working with the
                  <%= res.locals.siteName%> team
                </p>
              </span>
            </div>
            <div class="author">
              <img src="trade/images/avatar.png" class="circle" />
              <div style="margin-top: 10px" class="bold">Annie</div>
            </div>
          </li>
          <li>
            <div class="padding">
              <span class="comment">
                <p>
                  Coming across <%= res.locals.siteName%> Investmnt company has
                  been one of the best things that happened to me, i earn
                  passive income thanks to you guys
                </p>
              </span>
            </div>
            <div class="author">
              <img src="trade/images/avatar.png" class="circle" />
              <div style="margin-top: 10px" class="bold">Allen Woods</div>
            </div>
          </li>
          <li>
            <div class="padding">
              <span class="comment">
                <p>
                  I make $300 fortnightly from <%= res.locals.siteName%> Company
                  thank you for giving me this opportunity God bless Malachi
                </p>
              </span>
            </div>
            <div class="author">
              <img src="/images/avatar.png" class="circle" />
              <div style="margin-top: 10px" class="bold">Ryan</div>
            </div>
          </li>
          <li>
            <div class="padding">
              <span class="comment">
                <p>
                  I got my first investment profit of $15k. Big thanks to you
                  guys at <%= res.locals.siteName%>.???
                </p>
              </span>
            </div>
            <div class="author">
              <img src="trade/uploads/small/8671597592136.png" class="circle" />
              <div style="margin-top: 10px" class="bold">Robert Pope</div>
            </div>
          </li>
          <li>
            <div class="padding">
              <span class="comment">
                <p>
                  Big shout out to you guys at <%= res.locals.siteName%>. I just
                  got my Bitcoin back. I love you guyz
                </p>
              </span>
            </div>
            <div class="author">
              <img src="uploads/small/8211597591949.png" class="circle" />
              <div style="margin-top: 10px" class="bold">Steve Walter</div>
            </div>
          </li>
          <li>
            <div class="padding">
              <span class="comment">
                <p>
                  I&#39;m indeed grateful. I want to thank you guys for keeping
                  to your words.
                </p>
              </span>
            </div>
            <div class="author">
              <img src="uploads/small/4991597591857.png" class="circle" />
              <div style="margin-top: 10px" class="bold">Ruth Allison</div>
            </div>
          </li>
          <li>
            <div class="padding">
              <span class="comment">
                <p>
                  Thank you <%= res.locals.siteName%>. I&#39;m debt free. I have
                  been able to repay my loan of $64,000????
                </p>
              </span>
            </div>
            <div class="author">
              <img src="uploads/small/6981597591504.png" class="circle" />
              <div style="margin-top: 10px" class="bold">Veronica Keith</div>
            </div>
          </li>
          <li>
            <div class="padding">
              <span class="comment">
                <p>
                  Thank you <%= res.locals.siteName%>. You guys are amazing. I
                  just recovered my lost bitcoin of 2.6BTC. ????
                </p>
              </span>
            </div>
            <div class="author">
              <img src="uploads/small/4941597591323.png" class="circle" />
              <div style="margin-top: 10px" class="bold">Abraham willard</div>
            </div>
          </li>
          <li>
            <div class="padding">
              <span class="comment">
                <p>
                  I want to thank <%= res.locals.siteName%>, i just received the
                  sum of $17k from my investment. My whole family is indeed
                  happy. I&#39;m hoping to invest big by next week.
                </p>
              </span>
            </div>
            <div class="author">
              <img src="uploads/small/5761597590797.png" class="circle" />
              <div style="margin-top: 10px" class="bold">Fatimah Harmed</div>
            </div>
          </li>
          <li>
            <div class="padding">
              <span class="comment">
                <p>
                  I&#39;m now a super woman because of you guys. Thank you <%=
                  res.locals.siteName%>.
                </p>
              </span>
            </div>
            <div class="author">
              <img src="uploads/small/5321597006964.png" class="circle" />
              <div style="margin-top: 10px" class="bold">Hanna jackson</div>
            </div>
          </li>
          <li>
            <div class="padding">
              <span class="comment">
                <p>Thank you <%= res.locals.siteName%>.</p>
              </span>
            </div>
            <div class="author">
              <img src="uploads/small/5221597006888.png" class="circle" />
              <div style="margin-top: 10px" class="bold">Howard keil</div>
            </div>
          </li>
          <li>
            <div class="padding">
              <span class="comment">
                <p>
                  You guys are amazing. Thank you now I&#39;m financially
                  stable. <%= res.locals.siteName%> is the best
                </p>
              </span>
            </div>
            <div class="author">
              <img src="uploads/small/6961597006775.png" class="circle" />
              <div style="margin-top: 10px" class="bold">Oliver moore</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-8 col-m-12 center">
      <div class="bodycontainer">
        <div class="btcwdgt-chart" bw-theme="dark" style="width: 100%"></div>
      </div>
    </div>
  </div>
</div>

<div class="footer_bg center">
  <div class="area">
    <div class="bodycontainer">
      <div style="z-index: 2; position: relative">
        <h2 class="margintb">GET STARTED TODAY WITH BITCOIN INVESTMENT</h2>
        <p class="margintb">
          Open account for free and start trading Bitcoins!
        </p>
        <a href="/start" class="btn">GET STARTED</a>
      </div>
    </div>
  </div>
</div>
