<center>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_f933e"></div>
  <div class="tradingview-widget-copyright"><a href="#" rel="noopener" target="_blank"><span class="blue-text"></span> <span class="blue-text">Personal trading chart</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": 1050,
  "height": 500,
  "symbol": "BITFINEX:BTCUSD",
  "interval": "1",
  "timezone": "Etc/UTC",
  "theme": "Dark",
  "style": "9",
  "locale": "en",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "hide_side_toolbar": false,
  "allow_symbol_change": true,
  "calendar": true,
  "studies": [
    "BB@tv-basicstudies"
  ],
  "container_id": "tradingview_f933e"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->



<h3 class="account_main">Account Overview</h3>

<div class="account_overview_wrap">
   <div class="user-info">
        <div class="ctn-invesment-part ctn-invesment-part1">
          <p>Your username:</p>
          <h4><%= req.user.username %></h4>
        </div>
        <div class="ctn-invesment-part ctn-invesment-part2">
          <p>Registration Date:</p>
          <h4><%= new Date(req.user.regDate).toLocaleDateString() %> <%= new Date(req.user.regDate).toLocaleTimeString() %></h4>
        </div>
        <div class="ctn-invesment-part ctn-invesment-part3">
          <p>Last Access:</p>
          <h4><%= new Date(req.user.lastAccess).toLocaleDateString() %> <%= new Date(req.user.lastAccess).toLocaleTimeString() %></h4>
        </div>
      </div>
</div>  
<div class="account_overview_wrap">
  <div class="ctn-invesment-part ctn-invesment-part1"> <span class="imageblock"></span>
    <h4><%= req.user.currency %> <%= comma(req.user.activeDeposit) %></h4>
    <p>ACTIVE DEPOSITS</p>
    <div class="links"><a href="/deposit">Make A Deposit</a></div>
  </div>
  <div class="ctn-invesment-part ctn-invesment-part2"> <span class="imageblock"></span>
    <h4><%= req.user.currency %> <%= comma(req.user.balance) %></h4>
    <p>YOUR BALANCE</p>
    <div class="links"><a href="/withdraw">Withdraw Funds</a></div>
  </div>
  <div class="ctn-invesment-part ctn-invesment-part3"> <span class="imageblock"></span>
    <h4><%= req.user.currency %> <%= comma(req.user.addedBonus) %></h4>
    <p>ADDED BONUS</p>
    <div class="links"><a href="/deposit">My Deposits</a></div>
  </div>
</div>
<br />
<h3 class="account_main">Your Deposits/Withdrawals</h3>
<div class="account_stat">
  <div class="contentLeft">
    <div class="ctn-inves-row invers-part5">
      <p><%= req.user.currency %> <%= comma(req.user.lastDeposit) %></p>
      <h1>Last Deposit</h1>
    </div>


    <div class="ctn-inves-row invers-part8">
      <p><%= req.user.currency %> <%= comma(req.user.withdrawal) %></p>
      <h1>Withdrawal</h1>
    </div>
  </div>
</div>

</div><!--end column-70-->
</div>
</div>
</div>

</div><div class="contentBotContainer">
  <div class="contentBotInner">
    <div class="ctn-top-solid">
      <h1>btc network </h1>
      <h2> wallets: </h2>
      <div class="solid-top">
      <a href="https://www.coinbase.com/" class="solidTop1"></a> 
      <a href="https://blockchain.info/" class="solidTop2"></a>
      <a href="https://xapo.com/" class="solidTop3"></a>
      <a href="https://airbitz.co/" class="solidTop4"></a>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="ctn-bot-solid">
      <p>Market Cap: <span>$77829716960.00</span></p>
      <p>Hashrate: <span>7108353254.76</span></p>
      <p>Difficulty: <span>888171856257</span></p>
      <p>Total Blocks: <span>482882</span> </p>
      <p>Network Speed: <span>108.5 PH/s</span></p>
    </div>
  </div>
</div>

 